// website palette colors

$main-color: #c7d3bf;
$about-color: #eff5ee;
$btn-color: #314448;
$btn-txt-color: white;
$line-color: #536d6c;


// admin panel colors

$nav-el-color: rgba(100, 220, 204, 0.3);
$nav-el-hover-color: rgba(100, 220, 204, 0.5);

