.desktop__styled__box {
    padding: 20px 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .data__box {
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-right: 40px;
        margin-bottom: 40px;
        background-color:  white;
        border-radius: 20px;
        border: 1px solid #c6c7c9;
    }


    h4 {
        font-size: 1.3rem;
        font-weight: 600;
        color: $line-color;
        margin-bottom: 40px;
    }

    form {
        width: 100%;
        height: 100%;
        color: $line-color;

        h5 {
            font-size: 1.2rem;
            font-weight: 600;
            padding-bottom: 5px;
            padding-left: 15px;
        }

        .quill {
            border-radius: 20px;
            max-width: 100%;
            
            .ql-toolbar.ql-snow {
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                border: 1px solid #c6c7c9;
            }

            .ql-container.ql-snow {
                max-width: 100%;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border: 1px solid #c6c7c9;
                margin-bottom: 10px;

                .ql-editor {
                    max-width: 100%;
                    overflow-y: visible;
                    min-height: 250px;
                    font-size: 1.2rem;
                }
            }
        }

        .inputs__box {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .single__input__box {

                width: 50%;
                min-width: 320px;
            }

            .single__input__box:nth-child(1) {
                margin-right: 20px;
            }
        }

        input {
            font-size: 1.2rem;
            width: 100%;
            padding: 15px 20px 15px 20px;
            border-radius: 20px;
            border: 1px solid #c6c7c9;
            outline: none;
            margin-bottom: 10px;
        }

        .is__published__box {
            width: 100%;
            height: auto;
            min-height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
            }

            .checkbox--hidden {
                visibility: hidden;
                display: block;
                height: 0;
                width: 0;
                position: absolute;
                overflow: hidden;
            }

            input[type="file"] {
                display: none;
            }

            .custom-file-upload {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 20px 15px 20px;
                margin-right: 10px;
                font-size: 1.2rem;
                font-weight: 500;
                color: #4b6e6c;
                border-radius: 20px;
                background: rgba(100, 220, 204, 0.3);
                border: none;
                outline: none;
                cursor: pointer;
    
                svg {
                    font-size: 1.5rem;
                    margin-right: 10px;
                }
            }

            .custom-file-upload:hover {
                background-color: rgba(100, 220, 204, 0.5);
            }

            .checkbox--visible {
                height: 20px;
                width: 20px;
                border: 1px solid #c6c7c9;
                border-radius: 8px;
                display: inline-block;
                }

                [type=checkbox]:checked + span {
                background: $btn-color;
                }

            h5 {
                padding-bottom: 0;
                padding-left: 10px;
            }
        }
    }

    .hash__tags__box {
        width: 100%;
        max-width: 100%;
        height: auto;
        min-height: 40px;
        display: flex;
        flex-wrap: wrap;

        .hash__tag {
            min-height: 30px;
            padding: 3px 15px 3px 15px;
            color: white;
            border-radius: 20px;
            font-weight: 600;
            font-size: 1rem;
            margin: 5px;
            background: $btn-color;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .btn__box {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 20px;

        .submit__btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px 15px 20px;
            font-size: 1.2rem;
            font-weight: 500;
            color: #4b6e6c;
            border-radius: 20px;
            background: rgba(100, 220, 204, 0.3);
            border: none;
            outline: none;
            cursor: pointer;

            svg {
                font-size: 1.5rem;
                margin-right: 10px;
            }
        }

        .article-main-image {
            width: 70px;
            height: 55px;
            background: url(/src/scss/assets/no-image.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            object-fit: cover;
        }

        .img-position-arrows {
            width: 70px;
            height: 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .position-btn {
                border: none;
                cursor: pointer;

                svg {
                    font-size: 2rem;
                    pointer-events: none;
                }
            }
        }

        .img-top {
            object-position: top;
        }

        .img-center {
            object-position: center;
        }

        .img-bottom {
            object-position: bottom;
        }

        .submit__btn:hover {
            background-color: rgba(100, 220, 204, 0.5);
        }
    }

    .article__adding__box:hover {
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.85);
        -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.85);
        box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.85);
    }

    .article__list {
        position: relative;
    }

    .refresh__btn {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 1.3rem;
        color: $line-color;
    }

    .loading-box {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            font-size: 1rem;

        }
    }

    .articles__pagination {
        list-style: none;
        width: 100%;
        height: auto;

        .single__article {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            padding: 12px 15px;
            background: rgba(100, 220, 204, 0.3);
            border-radius: 20px;
            color: #4b6e6c;
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 10px;
            cursor: pointer;

            .title__date__box {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 10px;
            }

            h5 {
                font-size: 1.6rem;
                font-weight: 500;
            }

            .content__box {
                width: 100%;
                padding-bottom: 10px;


                p {
                    display: inline-flex;
                    font-size: 0.85rem;
                    max-width: 50%;
                }

            }

            .hash__tags__box {
                width: 50%;
                justify-content: flex-end;

                .hash__tag {
                    font-size: 0.8rem;
                }
            }

            .action__btns__box {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 50%;
                font-size: 1.6rem;

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    list-style: none;

                    li {
                        margin-right: 5px;
                        margin-left: 5px;
                    }
                }
            }
        }

        .single__article:hover {
            background: rgba(100, 220, 204, 0.5);
        }
    }

    .pagination__list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;

        li {
            color: #4b6e6c;
            font-size: 0.8rem;
            font-weight: 600;
            padding: 5px 10px;
            cursor: pointer;
            background: rgba(100, 220, 204, 0.3);
            border-radius: 9px;
            margin-left: 5px;
        }

        li:hover {
            background: rgba(100, 220, 204, 0.5);
        }
    }
}