@media only screen and (min-width: 300px) {
    .about-blog-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
    
        .text-part-box {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h2 {
                font-size: 1.5rem;
                color: $btn-color;
                font-weight: 500;
                text-align: center;
                max-width: 850px;
                padding: 10px;
            }
    
            .under-line {
                width: 150px;
                border-bottom: 3px solid $line-color;
                margin: 10px 0 10px 0;
            }
    
            h3 {
                font-size: 1.1rem;
                color: $line-color;
                font-weight: 300;
                text-align: center;
                max-width: 100%;
                padding: 10px;
            }
        }
    
        .new-posts-box {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
    
    
            .new-article-title-box {
                writing-mode: horizontal-tb;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
    
                .title {
                    font-size: 18px;
                    color: $line-color;
                    height: auto;
                    text-align: center;
                    padding-bottom: 15px;
                }
            }
    
            .new-recipe-title-box {
                writing-mode: horizontal-tb;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
    
                .title {
                    font-size: 18px;
                    color: $line-color;
                    height: auto;
                    padding-top: 15px;
                }
            }
    
            .short-line-left {
                height: 30px;
                border-left: 3px solid $line-color;
                position: static;
            }
    
            .short-line-right {
                height: 30px;
                border-left: 3px solid $line-color;
                position: static;
            }
    
    
            .articles-recipes {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: relative;

                .img-top {
                    object-position: top;
                }
        
                .img-center {
                    object-position: center;
                }
        
                .img-bottom {
                    object-position: bottom;
                }

                @keyframes movingImage {
                    0% {transform: scale(1);}
                    50% {transform: scale(1.1);}
                    100% {transform: scale(1);}
                }

                .post-image {
                    position: relative;
                    max-height: 250px;
                    overflow: hidden;
                    text-decoration: none;
                    cursor: pointer;

                    img {
                        animation: movingImage;
                        animation-duration: 15s;
                        animation-iteration-count: infinite;
                    }
                }
    
                .post {
                    object-fit: cover;
                    width: 250px;
                    height: 250px;
                    background: black;
                    margin: 10px;
                    
                }

                .post-data {
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    background: rgba(79, 134, 132, 0.75);
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    padding: 10px;
                    color: white;

                    h3 {
                        font-size: 1.3rem;
                        font-weight: 600;
                        max-width: 250px;
                    }

                    &__content {
                        padding: 5px;
                        padding-bottom: 20px;
                        font-size: 1rem;
                        font-weight: 400;
                    }

                    span {
                        font-weight: 600;
                    }
              
                }
    
                .logo {
                    width: 100px;
                    height: 100px;
                    background-image: url(/src/scss/assets/logo2.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 15px;
                }

                @keyframes shake {
                    10%, 90% {
                      transform: translate3d(-1px, 0, 0);
                    }
                    
                    20%, 80% {
                      transform: translate3d(2px, 0, 0);
                    }
                  
                    30%, 50%, 70% {
                      transform: translate3d(-4px, 0, 0);
                    }
                  
                    40%, 60% {
                      transform: translate3d(4px, 0, 0);
                    }
                  }

                .post-image:hover {
                    transform: translateY(-1px);
                    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5); 
                    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5);

                    span {
                        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                        transform: translate3d(0, 0, 0);
                        backface-visibility: hidden;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 400px) {
    .about-blog-section {

        .text-part-box {

            h2 {
                font-size: 1.9rem;
                color: $btn-color;
                font-weight: 500;
                text-align: center;
                max-width: 850px;
                padding: 10px;
            }
    
            .under-line {
                width: 150px;
                border-bottom: 3px solid $line-color;
                margin: 10px 0 10px 0;
            }
    
            h3 {
                font-size: 1.3rem;
                color: $line-color;
                font-weight: 300;
                text-align: center;
                max-width: 100%;
                padding: 10px;
            }
        }
    
        .new-posts-box {

            .articles-recipes {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: relative;

                .post-image {
                    position: relative;
                    max-height: 250px;
                }
    
                .post {
                    width: 250px;
                    height: 250px;
                    background: black;
                    margin: 10px;
                }
    
                .logo {
                    width: 100px;
                    height: 100px;
                    background-image: url(/src/scss/assets/logo2.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 15px;
                }
            }
        }
    }
}

@media only screen and (min-width: 760px) {
    .about-blog-section {

        .text-part-box {

            h2 {
                font-size: 3rem;
                color: $btn-color;
                font-weight: 500;
                text-align: center;
                max-width: 850px;
                padding: 10px;
            }
    
            .under-line {
                width: 150px;
                border-bottom: 3px solid $line-color;
                margin: 10px 0 10px 0;
            }
    
            h3 {
                font-size: 1.7rem;
                color: $line-color;
                font-weight: 300;
                text-align: center;
                max-width: 100%;
                padding: 10px;
            }
        }
    
        .new-posts-box {

            .new-article-title-box {
                writing-mode: horizontal-tb;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
    
                .title {
                    font-size: 1.5rem;
                    color: $line-color;
                    height: auto;
                    text-align: center;
                    padding-bottom: 15px;
                }
            }
    
            .new-recipe-title-box {
                writing-mode: horizontal-tb;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
    
                .title {
                    font-size: 1.5rem;
                    color: $line-color;
                    height: auto;
                    padding-top: 15px;
                }
            }

            .articles-recipes {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: relative;

                .post-image {
                    position: relative;
                    max-height: 400px;
                }
    
                .post {
                    width: 400px;
                    height: 400px;
                    background: black;
                    margin: 10px;
                }
    
                .logo {
                    width: 150px;
                    height: 150px;
                    background-image: url(/src/scss/assets/logo2.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 15px;
                }
            }
        }
    }
}