@media only screen and (min-width: 300px) {
    .article-box {

        .img-container {
            width: 100%;
            height: 250px;
            position: relative;
            overflow: hidden;
        }

        .recipe__photo {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            background-image: url(/src/scss/assets/NewOnlineTrainingImage.PNG);
            background-position: center;
            background-size: cover;
            margin-right: 0;
            margin-bottom: 0;
            margin: auto;
        }
    }

    .latest {
        .latest-article-box {
            .recipe__photo {
                display: inline-block;
                width: 100%;
                background-image: url(/src/scss/assets/food.JPG);
                background-position: center;
                background-size: cover;
                margin-bottom: 8px;
            }
        }
    }
}