@media only screen and (min-width: 300px) {
    .services-section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    
        .section-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h2 {
                font-size: 1.4rem;
                text-align: center;
                font-weight: 400;
                padding: 30px 10px 10px 10px
            }
    
            .underline {
                width: 100px;
                border-bottom: 3px solid $line-color;
                margin-bottom: 10px;
            }
    
            .services-box {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding-bottom: 30px;
    
                .service {
                    background: $about-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: auto;
                    margin: 10px;
    
                    h4 {
                        font-size: 1.3rem;
                        font-weight: 500;
                        text-align: center;
                        color: $line-color;
                        padding: 15px 20px 15px 20px;
                    }
    
                    .service__img1 {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        background: $line-color;
                    }
    
                    h5 {
                        max-width: 21rem;
                        font-size: 1.1rem;
                        color: $line-color;
                        font-weight: 500;
                        text-align: center;
                        padding: 15px 15px 0px 15px;
                    }
                    
                    ul {
                        font-size: 0.9rem;
                        color: $line-color;
                        font-weight: 300;
                        padding: 15px;
                        padding-top: 10px;
    
                        li {
                            text-align: center;
                            list-style: none;
                            padding: 10px 5px 10px 5px;
                            
                            border-bottom: 1px solid $line-color;
                        }
                    }
                }
    
                .promoted {
                    background: $main-color;
                }
            }
    
            button {
                background: $btn-color;
                color: $btn-txt-color;
                font-size: 1.3rem;
                font-weight: 500;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 40px 10px 40px;
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (min-width: 400px) {
    .services-section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    
        .section-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h2 {
                font-size: 1.4rem;
                text-align: center;
                font-weight: 400;
                padding: 30px 10px 10px 10px
            }
    
            .underline {
                width: 100px;
                border-bottom: 3px solid $line-color;
                margin-bottom: 10px;
            }
    
            .services-box {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding-bottom: 30px;
    
                .service {
                    background: $about-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: auto;
                    margin: 10px;
    
                    h4 {
                        font-size: 1.4rem;
                        font-weight: 500;
                        text-align: center;
                        color: $line-color;
                        padding: 15px 20px 15px 20px;
                    }
    
                    .service__img1 {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        background: $line-color;
                    }
    
                    h5 {
                        max-width: 21rem;
                        font-size: 1.1rem;
                        color: $line-color;
                        font-weight: 500;
                        text-align: center;
                        padding: 15px 15px 0px 15px;
                    }
                    
                    ul {
                        font-size: 1rem;
                        color: $line-color;
                        font-weight: 300;
                        padding: 15px;
                        padding-top: 10px;
    
                        li {
                            text-align: center;
                            list-style: none;
                            padding: 10px 5px 10px 5px;
                            
                            border-bottom: 1px solid $line-color;
                        }
                    }
                }
    
                .promoted {
                    background: $main-color;
                }
            }
    
            button {
                background: $btn-color;
                color: $btn-txt-color;
                font-size: 1.3rem;
                font-weight: 500;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 40px 10px 40px;
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (min-width: 760px) {
    .services-section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    
        .section-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h2 {
                font-size: 1.4rem;
                text-align: center;
                font-weight: 400;
                padding: 30px 10px 10px 10px
            }
    
            .underline {
                width: 100px;
                border-bottom: 3px solid $line-color;
                margin-bottom: 10px;
            }
    
            .services-box {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding-bottom: 30px;
    
                .service {
                    background: $about-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 420px;
                    height: auto;
                    padding-bottom: 20px;
                    margin: 10px;
    
                    h4 {
                        font-size: 1.4rem;
                        font-weight: 500;
                        text-align: center;
                        color: $line-color;
                        padding: 15px 20px 15px 20px;
                    }
    
                    .service__img1 {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        background: $line-color;
                    }
    
                    h5 {
                        max-width: 21rem;
                        font-size: 1.1rem;
                        color: $line-color;
                        font-weight: 500;
                        text-align: center;
                        padding: 15px 15px 0px 15px;
                    }
                    
                    ul {
                        font-size: 1rem;
                        color: $line-color;
                        font-weight: 300;
                        padding: 15px;
                        padding-top: 10px;
    
                        li {
                            text-align: center;
                            list-style: none;
                            padding: 10px 5px 10px 5px;
                            
                            border-bottom: 1px solid $line-color;
                        }
                    }
                }
    
                .promoted {
                    background: $main-color;
                }
            }
    
            button {
                background: $btn-color;
                color: $btn-txt-color;
                font-size: 1.3rem;
                font-weight: 500;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 40px 10px 40px;
                margin-bottom: 30px;
            }
        }
    }
}