@media only screen and (min-width: 1024px) {
    .about-blog-section {
        margin-bottom: 100px;
    
        .text-part-box {
    
            h2 {
                font-size: 2.6rem;
                max-width: 50rem;
                padding: 0;
                padding-bottom: 15px;
            }
    
            .under-line {
                width: 280px;
                margin: 5px 0 5px 0;
            }
    
            h3 {
                font-size: 1.4rem;
                max-width: 100%;
                padding: 15px 0 15px 0;
            }
        }
    
        .new-posts-box {
            flex-direction: row;
            padding: 15px 10px 0 10px;
    
            .new-article-title-box {
                writing-mode: vertical-rl;
    
                .title {
                    font-size: 1rem;
                    transform: rotate(-180deg);
                    padding-bottom: 0;
                }
            }
    
            .new-recipe-title-box {
                writing-mode: vertical-rl;
    
                .title {
                    font-size: 1rem;
                    padding-top: 0;
                    transform: rotate(0deg);
                }
            }
    
            .short-line-left {
                width: 50px;
                height: 0;
                border-left: none;
                border-bottom: 3px solid $line-color;
                position: absolute;
                top: 50%;
                left: 25px;
            }
    
            .short-line-right {
                width: 50px;
                height: 0;
                border-left: none;
                border-bottom: 3px solid $line-color;
                position: absolute;
                top: 50%;
                right: 25px;
            }
    
    
            .articles-recipes {
                flex-direction: row;
                justify-content: space-evenly;
    
                .post {
                    width: 280px;
                    height: 280px;
                    background: black;
                    margin: 0;
                }
    
                .logo {
                    width: 130px;
                    height: 130px;
                    background-image: url(/src/scss/assets/logo2.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}


@media only screen and (min-width: 1366px) {
    .about-blog-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 100px;
    
        .text-part-box {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
    
            h2 {
                font-size: 3.3rem;
                color: $btn-color;
                font-weight: 500;
                text-align: center;
                max-width: 850px;
                padding-bottom: 20px;
            }
    
            .under-line {
                width: 300px;
                border-bottom: 3px solid $line-color;
                margin: 10px 0 10px 0;
            }
    
            h3 {
                font-size: 1.9rem;
                color: $line-color;
                font-weight: 300;
                text-align: center;
                max-width: 90%;
                padding: 20px 0 20px 0;
            }
        }
    
        .new-posts-box {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
    
    
            .new-article-title-box {
                writing-mode: vertical-rl;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
    
                .title {
                    font-size: 18px;
                    color: $line-color;
                    height: auto;
                    transform: rotate(-180deg);
                    text-align: center;
                }
            }
    
            .new-recipe-title-box {
                writing-mode: vertical-rl;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
    
                .title {
                    font-size: 18px;
                    color: $line-color;
                    height: auto;
                    transform: rotate(0deg);
                }
            }
    
            .short-line-left {
                width: 50px;
                border-bottom: 3px solid $line-color;
                position: absolute;
                top: 50%;
                left: 30px;
            }
    
            .short-line-right {
                width: 50px;
                border-bottom: 3px solid $line-color;
                position: absolute;
                top: 50%;
                right: 30px;
            }
    
    
            .articles-recipes {
                height: auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                position: relative;
    
                .post {
                    width: 400px;
                    height: 400px;
                    background: black;
                }
    
                .logo {
                    width: 200px;
                    height: 200px;
                    background-image: url(/src/scss/assets/logo2.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}


