@media only screen and (min-width: 1024px) {
    .about__me {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 120px 0 0 0;
        

        .about__page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: $about-color;
            padding: 60px;


        
            .about__main__wrapper {
                width: 100%;

                .photo {
                    float: left;
                    width: 40%;
                    height: 800px;
                    margin-right: 40px;
                    margin-bottom: 20px;
                    background-image: url(/src/scss/assets/IMG_0142.JPG);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                                    
                h2 {
                    width: 100%;
                    color: $btn-color;
                    font-size: 2.47rem;
                    // max-width: 35rem;
                    font-weight: 400;
                    text-align: center;
                    padding-bottom: 20px;
                }
    
                h4 {
                    color: $line-color;
                    font-size: 1.45rem;
                    font-weight: 500;
                    text-align: center;
                    // max-width: 550px;
                    padding-bottom: 20px;
                }
    
                p {
                    color: $line-color;
                    font-size: 1.52rem;
                    font-weight: 300;
                    text-align: justify;
                    padding-bottom: 20px;
                    width: 100%;
                }
            }

        }
    }

    .rec-carousel-wrapper {
        padding: 60px;
        background: white;

        .rec-arrow-left, .rec-arrow-right {
            background: white;
            color: $line-color;
        }

        .rec-arrow-left:hover, .rec-arrow-right:hover {
            background: $btn-color;
        }
    }

    .carousel__item {
        width: 80%;
        height: 300px;
        background: $line-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
    }
}

