@media only screen and (min-width: 1024px) {
    .services {
        .services__page {
            .service-box {
                .service__details {   

                    h4 {
                        font-size: 1.2rem;
                    }
    
                    ul {
                        color: $line-color;
                        font-size: 1.2rem;
                        line-height: 1.85rem;
                    }
                }
    
                .service__title, .service__subtitle, .service__price {
                    font-size: 1.4rem;
                }
            }
            .service-box:nth-child(5) {
                padding-top: 50px;
            }
        }
    }
}

@media only screen and (min-width: 1360px) {
    .services {
        .services__page {
            .service-box:nth-child(5) {
                padding-top: 20px;
            }
        }
    }
}