.services-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .section-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 2.4rem;
            font-weight: 400;
            padding: 40px 20px 20px 20px
        }

        .underline {
            width: 150px;
            border-bottom: 3px solid $line-color;
            margin-bottom: 40px;
        }

        .services-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 80px;

            .service {
                background: $about-color;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 30%;
                height: auto;

                h4 {
                    font-size: 1.4rem;
                    font-weight: 500;
                    text-align: center;
                    color: $line-color;
                    padding: 20px 20px 20px 20px;
                }

                .service__img1 {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background: $line-color;
                }

                h5 {
                    max-width: 350px;
                    font-size: 1.2rem;
                    color: $line-color;
                    font-weight: 400;
                    text-align: center;
                    padding: 20px 20px 0px 20px;
                }
                
                ul {
                    font-size: 1.1rem;
                    color: $line-color;
                    font-weight: 300;
                    padding: 30px;

                    li {
                        padding: 5px;
                    }
                }
            }

            .promoted {
                background: $main-color;

                h4 {
                    color: $btn-color;
                    font-size: 1.6rem;
                }

                .service__img1 {
                    width: 170px;
                    height: 170px;

                }

                h5 {
                    color: $btn-color;
                    font-size: 1.4rem;
                    padding-bottom: 0;
                }

                ul {
                    color: $btn-color;
                    font-size: 1.3rem;
                    padding: 20px 20px 40px 20px;
                }
            }
        }

        button {
            background: $btn-color;
            color: $btn-txt-color;
            font-size: 1.3rem;
            font-weight: 500;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 70px 10px 70px;
            margin-bottom: 50px;
        }
    }
}